<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.548 0 0" rpy="0 ${pi/2} 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.0175 0.091 0.028"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link> 

<!--Link for depth camera-->
    <joint name="camera_depth_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_depth"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_depth"></link>

    <gazebo reference="camera_link">
        <material>Gazebo/Black</material>        


        <!--Sensor depth camera-->
        <sensor name="depth_camera" type="depth">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>640</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="depth_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_depth</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100.0</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>