<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="Left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="Right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>./src/weeding_robot/config/controller.yaml</parameters>
        </plugin>
    </gazebo>
    
    <gazebo>
    <plugin name="gazebo_ros_joint_state_publisher"
        filename="libgazebo_ros_joint_state_publisher.so">
        <update_rate>100</update_rate>
        <joint_name>Base_caster_left_joint</joint_name>
        <joint_name>Base_caster_right_joint</joint_name>
        <joint_name>Caster_wheel_left_joint</joint_name>
        <joint_name>Caster_wheel_right_joint</joint_name>
    </plugin>
  </gazebo>
-->

    <ros2_control name="AgriRobot" type="system">
        <hardware>
            <plugin>diffdrive_robot/DiffDriveRobotHardware</plugin>
            <param name="left_wheel_name">Left_wheel_joint</param>
            <param name="right_wheel_name">Right_wheel_joint</param>
            <param name="loop_rate">30</param>
            <param name="device">/dev/ttyACM0</param>
            <param name="baud_rate">57600</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">1763</param>
            <param name="pid_p">20</param>
            <param name="pid_d">12</param>
            <param name="pid_i">0</param>
            <param name="pid_o">50</param>
        </hardware>
        <joint name="Left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="Right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
    </ros2_control>


</robot> 